<template>
    <div class="gridview-component clock">
        <div v-if="options.showTime == null ? true : options.showTime" class="time">{{ time }} </div>
        <div v-if="options.showDate == null ? true : options.showDate" class="date">{{ date }}</div>
    </div>
</template>

<script>
export default {
    name: 'Clock',
    data() {
        return {
            time: '',
            date: ''
        }
    },
    mounted: function () {
        setInterval(this.updateTime, 500);
    },
    methods: {
        updateTime() {
            this.time = this.$moment(Date.now()).format(this.options.time || 'LT');
            this.date = this.$moment(Date.now()).format(this.options.date || 'll');
        }
    },
    props: {
        options: Object
    }
}
</script>

<style scoped>
.clock {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 6em;
    font-weight: bold;
}

.date {
    font-size: 2.5em;
    margin-top: -0.1em;
}
</style>
