<template>
  <div class="content">
    <p>Formate können gemäss <a href="https://momentjs.com/" target="_blank">moment.js</a> eingestellt werden.</p>
    <form @submit.prevent="">
      <div class="field">
        <label class="checkbox">
          <input type="checkbox" id="input-showTime" v-model="options.showTime" checked>
          Zeit sichtbar
        </label>
      </div>
      <div class="field">
        <label class="label" for="input-time">
          Zeitformat
        </label>
        <div class="control">
          <input class="input" type="text" id="input-time" placeholder="LT" v-model.trim="options.time" :disabled="options.showTime == 0">
        </div>
        <p class="help">Standard Zeit: LT</p>
      </div>
      <div class="field">
        <label class="checkbox">
          <input type="checkbox" id="input-showTime" v-model="options.showDate" checked>
          Datum sichtbar
        </label>
      </div>
      <div class="field">
        <label class="label" for="input-date">
          Datumsformat
        </label>
        <div class="control">
          <input class="input" type="text" id="input-date" placeholder="ll" v-model.trim="options.date" :disabled="options.showDate == 0">
        </div>
        <p class="help">Standard Zeit: ll</p>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'ClockOptions',
  props: {
    options: Object
  }
}
</script>

<style scoped></style>
